#gameboard {
    width: 180px; 
    height: 180px;
    border: 2px solid black;
}

.cell {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.white { background-color: #f0f0f0; }
.black { background-color: #999; }

.white-pawn { color: #000; }
.black-pawn { color: #fff; }

.selected { background-color: #ddd; }
