#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#game-canvas {
    border: 1px solid black;
    background-color: #ddd;
    width: 400px; /* Set a fixed width for the canvas */
    height: 400px; /* Set a fixed height for the canvas */
}

